<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="text-align: center;">
  <h2>Bio</h2>
  <p>Nathan Berhe, fourth year, working on this alone</p>
</div>

<div style="text-align: center;">
  Current time: {{ current_time }}
</div>

<div style="text-align: center;">
{% if user.is_authenticated %}
  Hi,  <strong style="background-color: yellow;">{{ user.username }}</strong>!
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="/app/">
    <button type="submit">Logout</button>
</form>
{% else %}
  <p>You are not logged in</p>
  <form action="{% url 'login' %}" method="GET">
    <button type="submit">Log In</button>
</form>
  <form action="{% url 'new' %}" method="GET">
    <button type="submit">Sign Up</button>
</form>
</div>
{% endif %}
{% endblock %}
